div.button {
  position: fixed;
  right: 75px;
  bottom: 75px;
  background-color: #00AFF2;
  border-radius: 100%;
  width: 50px;
  height: 50px;
  padding: 10px;
  cursor: default;
  transition: opacity 1s ease-out;
  opacity: 0;
}

div.show {
  opacity: 0.8;
  cursor: pointer;
}

div.image {
  background: inline-image('../img/telephone.svg') no-repeat center center;
  background-size: 70%;
  width: 100%;
  height: 100%;
  transform-origin: 50% 50%;
}

div.image:hover {
  animation: shake-icon 1s infinite ease-in-out;
}

div.wave {
  background-color: rgba(0, 175, 242, 0.5);
  opacity: 0.75;
}

@keyframes fadeIn {
  from {
	opacity: 0;
  }
  to {
	opacity: 0.8;
  }
}

@keyframes shake-icon {
  0% {
	transform: rotate(0deg) scale(1) skew(1deg)
  }
  10% {
	transform: rotate(-25deg) scale(1) skew(1deg)
  }
  20% {
	transform: rotate(25deg) scale(1) skew(1deg)
  }
  30% {
	transform: rotate(-25deg) scale(1) skew(1deg)
  }
  40% {
	transform: rotate(25deg) scale(1) skew(1deg)
  }
  50% {
	transform: rotate(0deg) scale(1) skew(1deg)
  }
  100% {
	transform: rotate(0deg) scale(1) skew(1deg)
  }
}